services:
  db:
    image: mysql:8.0-debian
    restart: always
    environment:
      - MYSQL_DATABASE=${DATABASE_DB}
      - MYSQL_ROOT_PASSWORD=${DATABASE_PASSWORD}
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  backend:
    build: .
    restart: always
    depends_on:
      - db
    ports:
      - "8001:8000"
    env_file:
      - .env

volumes:
  mysql_data: